{% extends "layout.html" %}

{% block content %}
<br>
<h1>  Iris flower species classification by Wallik</h1> 
 we use the decision tree model to predict the species of iris flower using the following 
features
<br>
<br>
<li> Sepal length</li>
<li> Sepal width</li>
<li> Petal length</li>
<li> Petal width</li>
<br>
<img src="../static/iris_explanation.png" alt="iris" width="500" height="500">

<br>
<br>
 This webpage is created by <b>Saran Pannasuriyaporn</b> using Flask framework.

{% endblock %}