{% extends "layout.html" %}

{% block content %}

<div class="login">
    <hr>
	<h1>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Iris flower species classifier</h1>
    <hr>
    <br>
     <!-- Main Input For Receiving Query to our ML -->

     &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
     <img src="../static/iris_explanation.png" alt="iris" width="300" height="300">
    <br><br>
     <form action="{{ url_for('predict')}}"method="post">
    	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <input type="text" name="Sepal length" placeholder="Sepal length" required="required" />
        <input type="text" name="Sepal Width" placeholder="Sepal Width" required="required" />
		<input type="text" name="Petal length" placeholder="Petal length" required="required" />
        <input type="text" name="Petal Width" placeholder="Petal Width" required="required" />
        
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
   
    
   <hr>


    <!-- Result of our ML -->

   <center><h2>{{prediction_text}}</h2></center>

   {% for specie , item in character%}
    <center><p>&emsp;{{specie}} : {{item}}</p></center>
   {% endfor %}


 </div>

<br><br><br><br>

{% endblock %}