<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wallik</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <style>
    section{ padding: 60px 0;}
  </style>
</head>
<body>

  <!--Nav-->
  <!--preserve the area for nav-->
  <!--expand the collapse for lg screen-->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-xxl">
      <!-- navbar brand / title -->
      <a class="navbar-brand" href="/">
        <span class="text-secondary fw-bold">
          <img src="../static/logo.jpg" alt="" style="width: 40; height:40;">
          Wallik Brain Lab
        </span>
      </a>
      <!-- toggle button for mobile nav -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- navbar links -->
      <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#Recommended">Recommended task</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#deploy">Deployment request</a>
          </li>

          <li class="nav-item ms-2 d-none d-md-inline">
            <a class="btn btn-secondary" href="#pricing">Try now</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

  <main>
    {% block content %}

    {% endblock %}
</main>   
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>